{% extends 'home.html' %} 
{% block content %} 
<style>
    form{
        margin: 100px;
        width: 400px;
    }
</style>

<form method="POST" action="" class="form-control" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image"><br>
    student name:<input type="text" name="name"><br>
    nickname:<input type="text" name="nickname"><br>
    roll number:<input type="number" name="roll"><br>
    address:<input type="text" name="address"><br>
    phone number:<input type="text" placeholder="09XXXXXXX" name="phone"><br>
<button type="submit">Add</button>
</form>
{% endblock %}